{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Settings{% endblock %}
{% block header %}
    {{ custom_safety_policy_form.media }}
    <script type="text/javascript">
        function disconnectSocialAccount(accountId) {
            var btn = this;
            $.ajax({
                url: '/api/users/disconnect-social-account/' + accountId + '/user/',
                type: 'PUT',
                credentials: "same-origin",
                headers: {
                  "X-CSRFToken": getCookie("csrftoken"),
                  "Accept": "application/json",
                  'Content-Type': 'application/json',
                },
                success: function (data) {
                    $(this).attr('href', data.url);
                    $(this).html('Connect');
                    $(this).removeClass('btn-danger');
                    $(this).addClass('btn-secondary');
                },
                cache: false,
                contentType: false,
                processData: false
            });
        };
    </script>
{% endblock %}
{% block content %}
<div class="main" id="bizAdminMain">
    {% if company.status == 'EP' %}
        <div class="alert alert-danger mt-1" role="alert">
            <div class="form-inline">
                <p>Your last payment failed. Fix your <a href="{% url 'company_settings' slug=company.slug %}payment/">billing information</a> to prevent your account from being suspended</p>
            </div>
        </div>
    {% endif %}
    <div class="company-settings-container">
        <ul class="nav nav-tabs" id="settingsTab">
            <li class="nav-item">
                <a class="nav-link {% if tab == 'personal' %}show active{% endif %}" id="personal-tab" data-toggle="tab" href="#personal" role="tab"
                   aria-controls="general" aria-selected="true">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == 'company' %}show active{% endif %}" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company-tab"
                   aria-selected="true">Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == 'brand' %}show active{% endif %}" id="brand-tab" data-toggle="tab" href="#brand" role="tab"
                   aria-controls="brand-tab" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == 'admins' %}show active{% endif %}" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins-tab"
                   aria-selected="true">Admins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == 'payment' %}show active{% endif %}" id="payments-tab" data-toggle="tab" href="#payment" role="tab"
                   aria-controls="payment-tab" aria-selected="true">Payment</a>
            </li>
        </ul>
        <div class="tab-content" id="settingTabContent">
            <div class="tab-pane fade {% if tab == 'personal' %}show active{% endif %}" id="personal" role="tabpanel">
                <div class="d-flex justify-content-center">
                    <div class="pt-3 pb-5 settings-tab-container">
                        <h5 class="font-title font-blue pt-3 mb-3">Personal Information</h5>
                        <form id="editUserInfoForm" method="post" action="{% url 'edit_user_info_form_api' public_id=request.user.public_id %}" class="font-small pl-sm-5 pr-sm-5 pt-2">
                            <div class="form-success-container"></div>
                            {% csrf_token %}
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-6">
                                    {{ edit_user_info_form.first_name|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ edit_user_info_form.last_name|as_crispy_field}}
                                </div>
                            </div>
                            <div class="form-row pt-1 d-flex justify-content-center">
                                <div class="form-group col-md-6">
                                    {{ edit_user_info_form.phone|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ edit_user_info_form.email|as_crispy_field}}
                                </div>
                            </div>
                            <hr>
                            <div class="form-row pt-1 d-flex justify-content-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-blue">Save</button>
                                </div>
                            </div>
                        </form>
                        <h5 class="font-title font-blue pt-3 mb-3">Change Password</h5>
                        <form id="changePasswordForm" method="post" action="{% url 'change_password_form_api' public_id=request.user.public_id %}" class="font-small pl-sm-5 pr-sm-5 pt-2 pb-3">
                            <div class="form-success-container">
                                <!-- Insert Form Saved Confirmation Element -->
                            </div>
                            {% csrf_token %}
                            {{ change_password_form|crispy }}
                            <div class="pb-2"></div>
                            <hr>
                            <div class="d-flex justify-content-center pt-2">
                                <button type="submit" class="btn btn-blue">Change Password</button>
                            </div>
                        </form>
                        <h5 class="font-title font-blue pt-3 mb-0">Social Login</h5>
                        <small class="text-muted pl-2">Use your Facebook or Google Account to login to Servstry</small>
                        <div class="font-small pl-lg-5 pr-lg-5 pt-4">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h5 class="font-large text-center text-sm-left d-block">Facebook</h5>
                                </div>
                                {% providers_media_js %}
                                {% if facebook != False %}
                                     <div class="col-sm-5 ml-auto">
                                         <div class="ml-auto">
                                             <a href="#disconnect-account" onclick="disconnectSocialAccount('{{ facebook }}')" class="btn btn-danger btn-block break-text">
                                                Disconnect
                                            </a>
                                         </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-5 ml-auto">
                                         <div class="ml-auto">
                                            <a href="{% provider_login_url 'facebook' process='connect' next='/dashboard/settings/personal/' %}" class="btn btn-secondary btn-block break-text">
                                                Connect
                                            </a>
                                         </div>
                                    </div>
                                {% endif %}
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-7">
                                    <h5 class="font-large text-center text-sm-left d-block">Google</h5>
                                </div>
                                {% if google != False %}
                                    <div class="col-sm-5 ml-auto">
                                        <div class="ml-auto">
                                            <a href="#disconnect-account" onclick="disconnectSocialAccount('{{ google }}')" class="btn btn-danger btn-block break-text">
                                                Disconnect
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-5 ml-auto">
                                        <div class="ml-auto">
                                            <a href="{% provider_login_url 'google' process='connect' next='/dashboard/settings/personal/' %}" class="btn btn-secondary btn-block break-text">
                                                Connect
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 tab-pane fade {% if tab == 'company' %}show active{% endif %}" id="company" role="tabpanel"
                 aria-labelledby="company-tab">
                <div class="d-flex justify-content-center">
                    <div class="pt-3 pb-3 settings-tab-container">
                        <h5 class="font-title font-blue mt-3 mb-3">Company Information</h5>
                        <form id="companyInfoForm" method="post" action="{% url 'company_info_form_api' public_id=company.public_id %}">
                            <div class="form-success-container">
                                <!-- Insert Form Saved Confirmation Element -->
                            </div>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-12">
                                    {{ company_info_form.name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    {{ company_info_form.address1|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    {{ company_info_form.address2|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    {{ company_info_form.city|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-3">
                                    {{ company_info_form.state|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-3">
                                    {{ company_info_form.zip_code|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    {{ company_info_form.phone|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6">
                                    {{ company_info_form.website|as_crispy_field }}
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="btn btn-blue">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show {% if tab == 'brand' %}show active{% endif %}" id="brand" role="tabpanel"
                 aria-labelledby="brand-tab">
                <div class="d-flex justify-content-center" id="brandTabTop">
                    <div class="pt-3 pb-3 settings-tab-container">
                        <h5 class="font-title font-blue mt-3 mb-3">Profile & Brand Settings</h5>
                        <form id="brandSettingForm" method="post" action="{% url 'brand_settings_form_api' public_id=company.public_id %}">
                            <div class="form-success-container">
                                <!-- Insert Form Saved Confirmation Element -->
                            </div>
                            {% csrf_token %}
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-12">
                                    {{ brand_settings_form.safety_policy_setting|as_crispy_field}}
                                    <div id="safetyPolicyHelpTextContainer">
                                        <!-- This is where the safety policy info text goes -->
                                    </div>
                                </div>
                            </div>
                            <div id="hideOnCustomSafetyPolicy" {% if company.safety_policy_setting in 'CB, CF, CP' %}style="display: none;"{% endif %}>
                                <hr>
                                <div class="d-flex justify-content-center mt-2">
                                    <button type="submit" class="btn btn-blue">Save</button>
                                </div>
                            </div>
                        </form>
                        <div id="customSafetyPolicyContainer" {% if company.safety_policy_setting != 'CP' %}style="display: none;"{% endif %}>
                            <h5 class="font-title font-blue mt-3 mb-3">Custom Safety Policy</h5>
                            <form id="customSafetyPolicyForm" method="post" action="{% url 'custom_safety_policy_form_api' company_id=company.public_id %}" class="mt-3">
                                {% csrf_token %}
                                {{ custom_safety_policy_form.policy_text }}
                                <div class="d-flex justify-content-center mt-2">
                                    <button type="submit" class="btn btn-blue">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show {% if tab == 'admins' %}show active{% endif %}" id="admins" role="tabpanel"
                 aria-labelledby="admins-tab">
                <div class="d-flex justify-content-center">
                    <div class="pt-3 pb-3 settings-tab-container">
                        <h5 class="font-title font-blue mt-3 mb-3">Active</h5>
                        <div class="table-responsive mt-3">
                            <table class="table">
                                <thead>
                                <tr class="font-title font-blue">
                                    <th scope="col">Name</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col" class="text-right">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admin in company.admins.all %}
                                    <tr class="font-small" id="adminRow{{ admin.public_id }}">
                                        <th scope="row">{{ admin.first_name }} {{ admin.last_name }}</th>
                                        <td>{{ admin.email }}</td>
                                        <td class="text-right"><button type="button" class="btn btn-danger btn-sm" onclick="removeCompanyAdminSetting('{{ company.public_id}}', '{{ admin.public_id }}')"><i class="flaticon-cancel"></i></button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <h5 class="font-title font-blue mt-3 mb-3">Invite</h5>
                        <form method="post" runat="server" action="{% url 'invite_company_admin_form_api' public_id=company.public_id %}" id="inviteUserForm" class="mt-3">
                            {% csrf_token %}
                            <div class="form-row">
                                <h5 class="font-blue font-large mb-3" style="display: none !important;" id="inviteConfirm">Invite Sent!</h5>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    {{ invite_admin_form.first_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ invite_admin_form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    {{ invite_admin_form.email|as_crispy_field }}
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-5">
                                <button id="userInviteSubmit" class="btn btn-blue">
                                    Send
                                    <i class="fe fe-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#inviteUserForm').submit(function(e) {
                        e.preventDefault();
                        var formData = new FormData(this);
                        var url = $(this).attr('action');
                        $.ajax({
                           type: "POST",
                           url: url,
                           data: formData, // serializes the form's elements.
                           success: function(data){
                                console.log('success');
                                $('#inviteConfirm').attr('style', 'display: block;');
                                $('#inviteUserForm').trigger('reset');
                           },
                           error: function(data, textStatus, xhr) {
                                console.log('error');
                                var formId = "#outsideApplicantForm";
                                for (var name in data['responseJSON']) {
                                    $('#id_' + name).after("<div class='alert alert-block alert-danger'><small>" + data['responseJSON'][name][0] + "</small></div>");
                                }
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                         });
                    });
                </script>
            </div>
            <div class="p-4 tab-pane fade {% if tab == 'payment' %}show active{% endif %}" id="payment" role="tabpanel"
                 aria-labelledby="payment-tab">
                <div class="d-flex justify-content-center">
                    <div class="pt-3 pb-3 settings-tab-container">
                        <div class="payment-method-container">
                            <div class="d-flex justify-content-between align-items-end mb-4">
                                <h5 class="font-title font-blue mb-0">Payment Method</h5>
                                <a href="#newPaymentMethod" onclick="toggleAddPaymentMethod()">
                                    <small id="addPaymentMethodLabel">
                                        <i class="fe fe-plus mr-1"></i>
                                        Add
                                    </small>
                                    <small id="hidePaymentMethodLabel" style="display: none;">
                                        <i class="fe fe-minus mr-1"></i>
                                        Hide
                                    </small>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="row w-100 add-new-payment-method mt-4" id="addPaymentMethod" style="display: none;">
                                    <div class="col-md-8 offset-2">
                                        <form id="addPaymentMethodForm" class="mb-5">
                                            {% csrf_token %}
                                            <div id="card-element" class="MyCardElement">
                                                <!-- Elements will create input elements here -->
                                            </div>

                                            <!-- We'll put the error messages in this element -->
                                            <div id="card-errors" role="alert"></div>
                                            <div class="d-flex justify-content-center mt-3 mb-3">
                                                <button type="submit" class="btn btn-blue">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if company.default_payment_method %}
                                <div class="row default-payment-method mt-4">
                                    <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-between border border-primary rounded p-3">
                                        <div class="d-flex align-items-center">
                                            <img src="{{ company.default_payment_method.get_icon_path }}" height="40"
                                                 class="mr-4">
                                            <h5 class="mb-0 payment-info-text">ends in {{ company.default_payment_method.last4 }}</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                                <input class="form-check-input mt-0" type="radio" name="defaultPaymentRadio"
                                                       id="PaymentRadio{{ company.default_payment_method.public_id }}" value="optionDefault" checked>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="otherPaymentMethods">
                                {% for payment in payment_methods %}
                                   {% include 'billing/snippets/payment-row-item.html' %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="subscription-container mt-5">
                            <div class="d-flex justify-content-between align-items-end mb-4">
                                <h5 class="font-title font-blue mb-0">Subscription</h5>
                                {% if subscription.cancel_at %}

                                {% elif subscription.active %}
                                    <a href="#cancelSubscriptionModal" id="cancelSubscriptionBtn" data-toggle="modal">
                                        <small class="text-danger">Cancel</small>
                                    </a>
                                {% else %}
                                    <a href="{% url 'new_subscription' slug=company.slug %}" id="newSubscriptionBtn">
                                        <small>
                                            <i class="fe fe-plus mr-1"></i>
                                            New
                                        </small>
                                    </a>
                                {% endif %}
                            </div>
                            {% if subscription %}
                                <div class="row d-flex-justify-content-center pl-4 pr-4 mt-4">
                                    <div class="col-md-8 offset-2">
                                        <h5 class="payment-info-text">
                                            {{ subscription.real_price }} per {{ subscription.plan.interval }}
                                            {% if subscription.cancel_at %}expires on {{ subscription.cancel_at|date:"n/j/y" }}
                                            {% elif subscription.next_pending_invoice %}
                                            next billed on {{ subscription.next_pending_invoice|date:"n/j/y" }}{% endif %}
                                        </h5>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="invoice-container mt-5 mb-5">
                            <h5 class="font-title font-blue mb-4">Invoices</h5>
                            {% for invoice in invoices %}
                                <div class="row pl-3 pr-3 pt-3">
                                    <div class="col-sm-2 offset-1 d-flex align-items-center">
                                        <h5 class="mb-0">{{ invoice.get_status_display }}</h5>
                                    </div>
                                    <div class="col-sm-2 d-flex align-items-center">
                                        <h5 class="mb-0">{{ invoice.amount_paid_formatted }}</h5>
                                    </div>
                                    <div class="col-sm-3 d-flex align-items-center">
                                        {% if invoice.paid_at %}
                                            <h5 class="mb-0">{{ invoice.paid_at|date:"n/j/y" }}</h5>
                                        {% elif subscription.next_pending_invoice %}
                                            <h5 class="mb-0">{{ subscription.next_pending_invoice|date:"n/j/y" }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-3 offset-1 d-flex align-items-center">
                                        <a href="{{ invoice.hosted_invoice_url }}" class="btn btn-blue btn-sm mr-2">
                                            View
                                        </a>
                                        <a href="{{ invoice.pdf_url }}" class="btn btn-blue btn-sm">
                                            <i class="fe fe-download"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ change_password_form.media }}
{% include 'billing/modals/confirm-cancel-subscription.html' %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var stripe = Stripe('{{ stripe_public_key }}');
    var customerId = '{{ company.customer_id }}';
    var priceId = null;
    var couponId = null;
</script>
<script src="{% static 'js/stripe-payment.js' %}"></script>
{% endblock %}
{% block footer %}
<script src="{% static 'js/company-settings.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var settingVal = $('#id_safety_policy_setting').val();
        displaySafetyPolicyHelpText(settingVal);
    });
    $('#id_safety_policy_setting').change(function() {
        var settingVal = $('#id_safety_policy_setting').val();
        displaySafetyPolicyHelpText(settingVal);
    });
    $("form#editUserInfoForm").submit(function(e) {
        e.preventDefault();
        submitCompanySettingPageForm(this, "form#editUserInfoForm", false);
    });
    $("form#changePasswordForm").submit(function(e) {
        e.preventDefault();
        submitCompanySettingPageForm(this, "form#changePasswordForm", true);
    });
    $("form#companyInfoForm").submit(function(e) {
        e.preventDefault();
        submitCompanySettingPageForm(this, "form#companyInfoForm", false);
    });
    $("form#brandSettingForm").submit(function(e) {
        e.preventDefault();
        submitCompanySettingPageForm(this, "form#brandSettingForm", false);
    });
    $("form#customSafetyPolicyForm").submit(function(e) {
        e.preventDefault();
        var brandSettingForm = document.getElementById("brandSettingForm");
        submitCompanySettingPageForm(brandSettingForm, "form#brandSettingForm", false);
        tinyMCE.triggerSave();
        submitCompanySettingPageForm(this, "form#customSafetyPolicyForm", false);
        location.href = '#brandTabTop';
    });
    $('#addPaymentMethodForm').submit(function(e) {
        e.preventDefault();
        var deferred = addNewPaymentMethod(cardElement, customerId);
        $.when(deferred).done(function() {
            toggleAddPaymentMethod();
            cardElement.clear();
        });
    });
    $('#otherPaymentMethods input:radio').click(function() {
        var moveOn = confirm('Are you sure you want to make this your default payment method?');
        if ( moveOn === true) {
            changeCustomerDefaultPaymentMethod($(this).val());
        } else {
            $(this).prop('checked', false);
        }
    });
    function displaySafetyPolicyHelpText(settingVal) {
        var custom = ['CB', 'CF', 'CP'];
        if (custom.includes(settingVal)) {
            $('#customSafetyPolicyContainer').attr('style', 'display: initial;');
            $('#hideOnCustomSafetyPolicy').attr('style', 'display: none;');
        } else {
            $('#customSafetyPolicyContainer').attr('style', 'display: none;');
            $('#hideOnCustomSafetyPolicy').attr('style', 'display: initial;');
        }
        $('#safetyPolicyHelpTextContainer').empty();
        var helpText = JSON.parse('{{ safety_policy_help_json | escapejs }}');
        $('#safetyPolicyHelpTextContainer').append('<div class="pl-3 pr-3"><small class="text-muted">'+ helpText[settingVal] + '</small></div>');
    };
</script>
{% endblock %}