<div class="row" id="paymentRowItem{{ payment.public_id }}">
    <div class="col-md-8 offset-md-2 d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center">
            <img src="{{ payment.get_icon_path }}" height="40"
                 class="mr-4">
            <h5 class="mb-0 payment-info-text">ends in {{ payment.last4 }}</h5>
        </div>
        <div class="d-flex align-items-center">
            <input class="form-check-input mt-0" type="radio"
                   id="PaymentRadio{{ payment.public_id }}" value="{{ payment.public_id }}">
            <a href="#removePaymentMethod" class="icon-link" onclick="deletePaymentMethod('{{ payment.public_id }}')">
                <i class="flaticon-cancel" style="color: red;"></i>
            </a>
        </div>
    </div>
</div>