:root {
    --pink: #FF5CF0;
    --blue: #1428BF;
    --gray: #CEE1F2;
    --white: #FFFFFF;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--gray);
    font-family: 'Cabin', sans-serif;
}

.btn-blue:hover {
    font-weight: 800;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.waiting-list-background {
    background: url('/static/media/imgs/cafe-interior-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    z-index: -2;
}

.waiting-list-background-screen {
    background-color: #000000;
    opacity: 0.525;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.wait-list-form-container {
    width: 100vw;
    height: 100vh;
}

.wait-list-form-box {
    width: 60%;
    min-width: 300px;
}

.wait-list-form-box h1 {
    color: var(--white);
    font-size: 2rem;
    font-family: 'Cabin', sans-serif;
}

.wait-list-form-box input {
    width: 100%;
    padding: 10px;
}