<div class="modal" id="safetyPolicyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="mt-3 ml-4 mr-4">
                        <h1 class="text-center font-blue mt-4">Safety Policy</h1>
                        {% if company.safety_policy_setting == 'CP' %}
                            {{ company.safety_policy.policy_text|safe }}
                        {% else %}
                        <p class="mt-4">
                            For the safety of all guests, staff and our community as a whole, you agree to the following
                            policies. You
                            should not visit any of the establishments on Servstry.com if you are unable or unwilling to
                            comply with any
                            of
                            the policies and guidelines listed below.
                        </p>
                        <p class="mt-4">
                            Establishments on Servstry.com might have additional policies in place not listed below.
                            Please contact the
                            establishment prior to arrival if you are unsure you are able to comply with all listed and
                            unlisted policies.
                        </p>
                        <ul class="mt-5 mb-5 ml-3 mr-3 pr-3 safety-policy-list">
                            <li>
                                I have not been diagnosed with COVID-19. If so, I have been cleared by medical
                                professionals to visit
                                food and beverage establishments
                            </li>
                            <li>
                                I am not currently experiencing any of the symptoms known or thought to be associated
                                with COVID-19.
                                Please visit <a
                                    href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">CDC.gov
                            </a> for additional information
                            </li>
                            <li>
                                I have not knowingly been in contact with any persons diagnosed with or thought to be
                                experiencing
                                symptoms of COVID-19
                            </li>
                            <li>
                                I agree to use a face covering when not eating or drinking
                            </li>
                            <li>
                                I agree to use hand sanitizer when entering the establishment and regularly wash my
                                hands and/or use
                                hand sanitizer while in the establishment
                            </li>
                            <li>
                                I agree to maintain physical distance from staff and other guests. I agree to avoid
                                clustering within or
                                in proximity to the establishment
                            </li>
                            <li>
                                I agree to avoid the unnecessary touching of the establishment’s surfaces
                            </li>
                            <li>
                                When applicable, I agree to use separately designated entrances and exits
                            </li>
                            <li>
                                When applicable, I agree to follow all separation and directional markers designated by
                                the
                                establishment
                            </li>
                            <li>
                                I agree, to the best of my ability, to adhere to all federal and local policies and
                                regulations in
                                reference to COVID-19
                            </li>
                            <li>
                                I will adhere to all of the establishment’s health and safety policies. I understand and
                                agree that I
                                may be refused entry to the establishment or will be removed from the establishment if I
                                am unable or
                                unwilling to follow these policies
                            </li>
                            <li>
                                Even with following all federal and local policies and regulations, I understand that
                                there is an
                                increased risk of exposure by participating in dine-in service. I agree to not hold the
                                establishment
                                and/or Servstry.com liable if I am to be exposed to and/or contract COVID-19 from
                                visiting the
                                establishment
                            </li>
                            <li>
                                I agree to notify Servstry.com, at my earliest convenience, if I am diagnosed with
                                COVID-19 within two
                                weeks of visiting any establishment on Servstry.com
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="acceptGuestVisitForm()">Agree</button>
                <a href="https://coronavirus.dc.gov/" class="btn btn-danger" >Decline</a>
            </div>
        </div>
    </div>
</div>