    /*
    Flaticon icon font: Flaticon
    Creation date: 04/06/2020 13:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-user-interface-menu:before { content: "\f100"; }
.flaticon-user-interface-cloud:before { content: "\f101"; }
.flaticon-trash-can:before { content: "\f102"; }
.flaticon-tags-line:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-sticky-notes:before { content: "\f105"; }
.flaticon-clipboard:before { content: "\f106"; }
.flaticon-building:before { content: "\f107"; }
.flaticon-todo-list-pencil:before { content: "\f108"; }
.flaticon-document:before { content: "\f109"; }
.flaticon-facebook:before { content: "\f10a"; }
.flaticon-instagram:before { content: "\f10b"; }
.flaticon-linkedin:before { content: "\f10c"; }
.flaticon-twitter:before { content: "\f10d"; }
.flaticon-pinterest:before { content: "\f10e"; }
.flaticon-youtube:before { content: "\f10f"; }
.flaticon-skype:before { content: "\f110"; }
.flaticon-snapchat:before { content: "\f111"; }
.flaticon-google:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-home:before { content: "\f114"; }
.flaticon-worldwide:before { content: "\f115"; }
.flaticon-email:before { content: "\f116"; }
.flaticon-pay:before { content: "\f117"; }
.flaticon-note:before { content: "\f118"; }
.flaticon-padlock-open:before { content: "\f119"; }
.flaticon-heart:before { content: "\f11a"; }
.flaticon-lifebuoy:before { content: "\f11b"; }
.flaticon-user-circle:before { content: "\f11c"; }
.flaticon-settings:before { content: "\f11d"; }
.flaticon-user:before { content: "\f11e"; }
.flaticon-browser:before { content: "\f11f"; }
.flaticon-calendar-day:before { content: "\f120"; }
.flaticon-cellphone:before { content: "\f121"; }
.flaticon-calendar-month:before { content: "\f122"; }
.flaticon-notebook:before { content: "\f123"; }
.flaticon-id-book:before { content: "\f124"; }
.flaticon-coupe:before { content: "\f125"; }
.flaticon-margarita-glass:before { content: "\f126"; }
.flaticon-collins-glasses:before { content: "\f127"; }
.flaticon-blender:before { content: "\f128"; }
.flaticon-creations:before { content: "\f129"; }
.flaticon-cocktails:before { content: "\f12a"; }
.flaticon-resume:before { content: "\f12b"; }
.flaticon-phone:before { content: "\f12c"; }
.flaticon-sight:before { content: "\f12d"; }
.flaticon-like:before { content: "\f12e"; }
.flaticon-camera:before { content: "\f12f"; }
.flaticon-share:before { content: "\f130"; }
.flaticon-add-user:before { content: "\f131"; }
.flaticon-ruler:before { content: "\f132"; }
.flaticon-cancel:before { content: "\f133"; }
.flaticon-bell:before { content: "\f134"; }
.flaticon-plus-icon:before { content: "\f135"; }
.flaticon-detective:before { content: "\f136"; }
.flaticon-network:before { content: "\f137"; }
.flaticon-dashboard:before { content: "\f138"; }
.flaticon-work:before { content: "\f139"; }
.flaticon-suitcase:before { content: "\f13a"; }
.flaticon-staff:before { content: "\f13b"; }
.flaticon-chefs:before { content: "\f13c"; }
.flaticon-chef-male:before { content: "\f13d"; }
.flaticon-chef-female:before { content: "\f13e"; }
.flaticon-up-arrow:before { content: "\f13f"; }
.flaticon-target:before { content: "\f140"; }
.flaticon-bartender:before { content: "\f141"; }
.flaticon-books:before { content: "\f142"; }
.flaticon-user-network:before { content: "\f143"; }
.flaticon-spotlight:before { content: "\f144"; }
.flaticon-user-checklist:before { content: "\f145"; }
.flaticon-dollar:before { content: "\f146"; }
.flaticon-percent:before { content: "\f147"; }
.flaticon-credit-card-lock:before { content: "\f148"; }
.flaticon-medal:before { content: "\f149"; }
.flaticon-produce:before { content: "\f14a"; }
.flaticon-mixer:before { content: "\f14b"; }
.flaticon-coffee:before { content: "\f14c"; }
.flaticon-stove:before { content: "\f14d"; }
.flaticon-oven:before { content: "\f14e"; }
.flaticon-weight:before { content: "\f14f"; }
.flaticon-tablet-phone:before { content: "\f150"; }
.flaticon-fridge:before { content: "\f151"; }
.flaticon-ipad:before { content: "\f152"; }
.flaticon-computer:before { content: "\f153"; }
.flaticon-wine-bottle-glasses:before { content: "\f154"; }
.flaticon-wine-glasses:before { content: "\f155"; }
.flaticon-bottle-glass:before { content: "\f156"; }
.flaticon-beer-tap:before { content: "\f157"; }
.flaticon-id-card:before { content: "\f158"; }
.flaticon-pin:before { content: "\f159"; }
.flaticon-bookmark:before { content: "\f15a"; }
.flaticon-bow-tie-person:before { content: "\f15b"; }
.flaticon-shopping-cart:before { content: "\f15c"; }
.flaticon-lemon:before { content: "\f15d"; }
.flaticon-pineapple:before { content: "\f15e"; }
.flaticon-wine-key-bottle:before { content: "\f15f"; }
.flaticon-barrel:before { content: "\f160"; }
.flaticon-cleaver:before { content: "\f161"; }
.flaticon-tongs:before { content: "\f162"; }
.flaticon-salt-pepper:before { content: "\f163"; }
.flaticon-wine-bottles:before { content: "\f164"; }
.flaticon-eggplant:before { content: "\f165"; }
.flaticon-burger:before { content: "\f166"; }
.flaticon-wine-bottle-glass:before { content: "\f167"; }
.flaticon-cutting-board:before { content: "\f168"; }
.flaticon-chef-hat:before { content: "\f169"; }
.flaticon-grape:before { content: "\f16a"; }
.flaticon-presentation:before { content: "\f16b"; }
.flaticon-apron:before { content: "\f16c"; }
.flaticon-spatula:before { content: "\f16d"; }
.flaticon-pizza:before { content: "\f16e"; }
.flaticon-floppy-disc:before { content: "\f16f"; }
.flaticon-add:before { content: "\f170"; }
.flaticon-magnifying-glass:before { content: "\f171"; }
.flaticon-race-track:before { content: "\f172"; }
.flaticon-qr-code:before { content: "\f173"; }
.flaticon-download:before { content: "\f174"; }
    
    $font-Flaticon-user-interface-menu: "\f100";
    $font-Flaticon-user-interface-cloud: "\f101";
    $font-Flaticon-trash-can: "\f102";
    $font-Flaticon-tags-line: "\f103";
    $font-Flaticon-clock: "\f104";
    $font-Flaticon-sticky-notes: "\f105";
    $font-Flaticon-clipboard: "\f106";
    $font-Flaticon-building: "\f107";
    $font-Flaticon-todo-list-pencil: "\f108";
    $font-Flaticon-document: "\f109";
    $font-Flaticon-facebook: "\f10a";
    $font-Flaticon-instagram: "\f10b";
    $font-Flaticon-linkedin: "\f10c";
    $font-Flaticon-twitter: "\f10d";
    $font-Flaticon-pinterest: "\f10e";
    $font-Flaticon-youtube: "\f10f";
    $font-Flaticon-skype: "\f110";
    $font-Flaticon-snapchat: "\f111";
    $font-Flaticon-google: "\f112";
    $font-Flaticon-star: "\f113";
    $font-Flaticon-home: "\f114";
    $font-Flaticon-worldwide: "\f115";
    $font-Flaticon-email: "\f116";
    $font-Flaticon-pay: "\f117";
    $font-Flaticon-note: "\f118";
    $font-Flaticon-padlock-open: "\f119";
    $font-Flaticon-heart: "\f11a";
    $font-Flaticon-lifebuoy: "\f11b";
    $font-Flaticon-user-circle: "\f11c";
    $font-Flaticon-settings: "\f11d";
    $font-Flaticon-user: "\f11e";
    $font-Flaticon-browser: "\f11f";
    $font-Flaticon-calendar-day: "\f120";
    $font-Flaticon-cellphone: "\f121";
    $font-Flaticon-calendar-month: "\f122";
    $font-Flaticon-notebook: "\f123";
    $font-Flaticon-id-book: "\f124";
    $font-Flaticon-coupe: "\f125";
    $font-Flaticon-margarita-glass: "\f126";
    $font-Flaticon-collins-glasses: "\f127";
    $font-Flaticon-blender: "\f128";
    $font-Flaticon-creations: "\f129";
    $font-Flaticon-cocktails: "\f12a";
    $font-Flaticon-resume: "\f12b";
    $font-Flaticon-phone: "\f12c";
    $font-Flaticon-sight: "\f12d";
    $font-Flaticon-like: "\f12e";
    $font-Flaticon-camera: "\f12f";
    $font-Flaticon-share: "\f130";
    $font-Flaticon-add-user: "\f131";
    $font-Flaticon-ruler: "\f132";
    $font-Flaticon-cancel: "\f133";
    $font-Flaticon-bell: "\f134";
    $font-Flaticon-plus-icon: "\f135";
    $font-Flaticon-detective: "\f136";
    $font-Flaticon-network: "\f137";
    $font-Flaticon-dashboard: "\f138";
    $font-Flaticon-work: "\f139";
    $font-Flaticon-suitcase: "\f13a";
    $font-Flaticon-staff: "\f13b";
    $font-Flaticon-chefs: "\f13c";
    $font-Flaticon-chef-male: "\f13d";
    $font-Flaticon-chef-female: "\f13e";
    $font-Flaticon-up-arrow: "\f13f";
    $font-Flaticon-target: "\f140";
    $font-Flaticon-bartender: "\f141";
    $font-Flaticon-books: "\f142";
    $font-Flaticon-user-network: "\f143";
    $font-Flaticon-spotlight: "\f144";
    $font-Flaticon-user-checklist: "\f145";
    $font-Flaticon-dollar: "\f146";
    $font-Flaticon-percent: "\f147";
    $font-Flaticon-credit-card-lock: "\f148";
    $font-Flaticon-medal: "\f149";
    $font-Flaticon-produce: "\f14a";
    $font-Flaticon-mixer: "\f14b";
    $font-Flaticon-coffee: "\f14c";
    $font-Flaticon-stove: "\f14d";
    $font-Flaticon-oven: "\f14e";
    $font-Flaticon-weight: "\f14f";
    $font-Flaticon-tablet-phone: "\f150";
    $font-Flaticon-fridge: "\f151";
    $font-Flaticon-ipad: "\f152";
    $font-Flaticon-computer: "\f153";
    $font-Flaticon-wine-bottle-glasses: "\f154";
    $font-Flaticon-wine-glasses: "\f155";
    $font-Flaticon-bottle-glass: "\f156";
    $font-Flaticon-beer-tap: "\f157";
    $font-Flaticon-id-card: "\f158";
    $font-Flaticon-pin: "\f159";
    $font-Flaticon-bookmark: "\f15a";
    $font-Flaticon-bow-tie-person: "\f15b";
    $font-Flaticon-shopping-cart: "\f15c";
    $font-Flaticon-lemon: "\f15d";
    $font-Flaticon-pineapple: "\f15e";
    $font-Flaticon-wine-key-bottle: "\f15f";
    $font-Flaticon-barrel: "\f160";
    $font-Flaticon-cleaver: "\f161";
    $font-Flaticon-tongs: "\f162";
    $font-Flaticon-salt-pepper: "\f163";
    $font-Flaticon-wine-bottles: "\f164";
    $font-Flaticon-eggplant: "\f165";
    $font-Flaticon-burger: "\f166";
    $font-Flaticon-wine-bottle-glass: "\f167";
    $font-Flaticon-cutting-board: "\f168";
    $font-Flaticon-chef-hat: "\f169";
    $font-Flaticon-grape: "\f16a";
    $font-Flaticon-presentation: "\f16b";
    $font-Flaticon-apron: "\f16c";
    $font-Flaticon-spatula: "\f16d";
    $font-Flaticon-pizza: "\f16e";
    $font-Flaticon-floppy-disc: "\f16f";
    $font-Flaticon-add: "\f170";
    $font-Flaticon-magnifying-glass: "\f171";
    $font-Flaticon-race-track: "\f172";
    $font-Flaticon-qr-code: "\f173";
    $font-Flaticon-download: "\f174";