	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/06/2020 13:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-user-interface-menu:before { content: "\f100"; }
.flaticon-user-interface-cloud:before { content: "\f101"; }
.flaticon-trash-can:before { content: "\f102"; }
.flaticon-tags-line:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-sticky-notes:before { content: "\f105"; }
.flaticon-clipboard:before { content: "\f106"; }
.flaticon-building:before { content: "\f107"; }
.flaticon-todo-list-pencil:before { content: "\f108"; }
.flaticon-document:before { content: "\f109"; }
.flaticon-facebook:before { content: "\f10a"; }
.flaticon-instagram:before { content: "\f10b"; }
.flaticon-linkedin:before { content: "\f10c"; }
.flaticon-twitter:before { content: "\f10d"; }
.flaticon-pinterest:before { content: "\f10e"; }
.flaticon-youtube:before { content: "\f10f"; }
.flaticon-skype:before { content: "\f110"; }
.flaticon-snapchat:before { content: "\f111"; }
.flaticon-google:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-home:before { content: "\f114"; }
.flaticon-worldwide:before { content: "\f115"; }
.flaticon-email:before { content: "\f116"; }
.flaticon-pay:before { content: "\f117"; }
.flaticon-note:before { content: "\f118"; }
.flaticon-padlock-open:before { content: "\f119"; }
.flaticon-heart:before { content: "\f11a"; }
.flaticon-lifebuoy:before { content: "\f11b"; }
.flaticon-user-circle:before { content: "\f11c"; }
.flaticon-settings:before { content: "\f11d"; }
.flaticon-user:before { content: "\f11e"; }
.flaticon-browser:before { content: "\f11f"; }
.flaticon-calendar-day:before { content: "\f120"; }
.flaticon-cellphone:before { content: "\f121"; }
.flaticon-calendar-month:before { content: "\f122"; }
.flaticon-notebook:before { content: "\f123"; }
.flaticon-id-book:before { content: "\f124"; }
.flaticon-coupe:before { content: "\f125"; }
.flaticon-margarita-glass:before { content: "\f126"; }
.flaticon-collins-glasses:before { content: "\f127"; }
.flaticon-blender:before { content: "\f128"; }
.flaticon-creations:before { content: "\f129"; }
.flaticon-cocktails:before { content: "\f12a"; }
.flaticon-resume:before { content: "\f12b"; }
.flaticon-phone:before { content: "\f12c"; }
.flaticon-sight:before { content: "\f12d"; }
.flaticon-like:before { content: "\f12e"; }
.flaticon-camera:before { content: "\f12f"; }
.flaticon-share:before { content: "\f130"; }
.flaticon-add-user:before { content: "\f131"; }
.flaticon-ruler:before { content: "\f132"; }
.flaticon-cancel:before { content: "\f133"; }
.flaticon-bell:before { content: "\f134"; }
.flaticon-plus-icon:before { content: "\f135"; }
.flaticon-detective:before { content: "\f136"; }
.flaticon-network:before { content: "\f137"; }
.flaticon-dashboard:before { content: "\f138"; }
.flaticon-work:before { content: "\f139"; }
.flaticon-suitcase:before { content: "\f13a"; }
.flaticon-staff:before { content: "\f13b"; }
.flaticon-chefs:before { content: "\f13c"; }
.flaticon-chef-male:before { content: "\f13d"; }
.flaticon-chef-female:before { content: "\f13e"; }
.flaticon-up-arrow:before { content: "\f13f"; }
.flaticon-target:before { content: "\f140"; }
.flaticon-bartender:before { content: "\f141"; }
.flaticon-books:before { content: "\f142"; }
.flaticon-user-network:before { content: "\f143"; }
.flaticon-spotlight:before { content: "\f144"; }
.flaticon-user-checklist:before { content: "\f145"; }
.flaticon-dollar:before { content: "\f146"; }
.flaticon-percent:before { content: "\f147"; }
.flaticon-credit-card-lock:before { content: "\f148"; }
.flaticon-medal:before { content: "\f149"; }
.flaticon-produce:before { content: "\f14a"; }
.flaticon-mixer:before { content: "\f14b"; }
.flaticon-coffee:before { content: "\f14c"; }
.flaticon-stove:before { content: "\f14d"; }
.flaticon-oven:before { content: "\f14e"; }
.flaticon-weight:before { content: "\f14f"; }
.flaticon-tablet-phone:before { content: "\f150"; }
.flaticon-fridge:before { content: "\f151"; }
.flaticon-ipad:before { content: "\f152"; }
.flaticon-computer:before { content: "\f153"; }
.flaticon-wine-bottle-glasses:before { content: "\f154"; }
.flaticon-wine-glasses:before { content: "\f155"; }
.flaticon-bottle-glass:before { content: "\f156"; }
.flaticon-beer-tap:before { content: "\f157"; }
.flaticon-id-card:before { content: "\f158"; }
.flaticon-pin:before { content: "\f159"; }
.flaticon-bookmark:before { content: "\f15a"; }
.flaticon-bow-tie-person:before { content: "\f15b"; }
.flaticon-shopping-cart:before { content: "\f15c"; }
.flaticon-lemon:before { content: "\f15d"; }
.flaticon-pineapple:before { content: "\f15e"; }
.flaticon-wine-key-bottle:before { content: "\f15f"; }
.flaticon-barrel:before { content: "\f160"; }
.flaticon-cleaver:before { content: "\f161"; }
.flaticon-tongs:before { content: "\f162"; }
.flaticon-salt-pepper:before { content: "\f163"; }
.flaticon-wine-bottles:before { content: "\f164"; }
.flaticon-eggplant:before { content: "\f165"; }
.flaticon-burger:before { content: "\f166"; }
.flaticon-wine-bottle-glass:before { content: "\f167"; }
.flaticon-cutting-board:before { content: "\f168"; }
.flaticon-chef-hat:before { content: "\f169"; }
.flaticon-grape:before { content: "\f16a"; }
.flaticon-presentation:before { content: "\f16b"; }
.flaticon-apron:before { content: "\f16c"; }
.flaticon-spatula:before { content: "\f16d"; }
.flaticon-pizza:before { content: "\f16e"; }
.flaticon-floppy-disc:before { content: "\f16f"; }
.flaticon-add:before { content: "\f170"; }
.flaticon-magnifying-glass:before { content: "\f171"; }
.flaticon-race-track:before { content: "\f172"; }
.flaticon-qr-code:before { content: "\f173"; }
.flaticon-download:before { content: "\f174"; }