{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'icons/landing-pages/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'icons/feathericon.min.css' %}">
{% endblock %}
{% block content %}
<div class="employer-landing">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="mr-auto"></div>
            <div class="navbar-nav float-right">
                <a class="nav-item nav-link" href="#loginModal" onclick="toggleRegisterModal()">
                    Sign Up
                </a>
                    <a href="#loginModal" class="nav-link" onclick="toggleLoginModal()">
                      Login
                    </a>
            </div>
        </div>
    </nav>
    <div class="title">
        <div class="left">
            <h1>Helping You Reopen</h1>
            <p>
                Get from job posting to job offer faster than ever before. We've used our experience working in bars and
                restaurants to build tools that meet the unique needs of our industry.
            </p>
            <a href="#loginModal" onclick="toggleRegisterModal()" class="btn btn-lg btn-blue float-right mr-5">Get Started</a>
        </div>
        <div class="right">
            <div class="background-square"></div>
            <img src="{% static 'media/imgs/company-dashboard-laptop.png' %}" class="dashboard-laptop">
        </div>
    </div>
    <div class="features" id="feature-background">
        <div class="feature-screen"></div>
        <div class="d-flex justify-content-center">
            <h1 class="text-center">Built To Help Your Team Work Together</h1>
        </div>
        <div class="row justify-content-between align-items-center h-100 ml-5 mr-5 feature-box-lg">
            <div class="col-3 feature-card d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <i class="feature-icon flaticon-race-track"></i>
                    </div>
                    <h3 class="text-center">Applicant Tracking</h3>
                    <div class="d-flex justify-content-center">
                        <p>
                            Track applicants as they move through your hiring process. Add applications you received
                            from other websites.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3 feature-card d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <i class="feature-icon text-center flaticon-resume-file ml-3"></i>
                    </div>
                    <h3 class="text-center">Schedule Interviews</h3>
                    <div class="d-flex justify-content-center">
                        <p>
                            A single place for all of your company’s interviews. Applicants are
                            notified of interview changes and cancellations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3 feature-card d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <i class="feature-icon flaticon-tools-and-utensils"></i>
                    </div>
                    <h3 class="text-center">Notes & To-Dos</h3>
                    <div class="d-flex justify-content-center">
                        <p>
                            Add internal notes and tasks to an applicant. Know what’s been done and
                            what needs to be done next.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between feature-box-sm">
            <div id="carouselFeatureIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselFeatureIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselFeatureIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselFeatureIndicators" data-slide-to="2"></li>
                    </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <div class="feature-card d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-center">
                                        <i class="feature-icon flaticon-race-track"></i>
                                    </div>
                                    <h3 class="text-center">Applicant Tracking</h3>
                                    <div class="d-flex justify-content-center">
                                        <p>
                                            Track applicants as they move through your hiring process. Add applications
                                            you received from other websites.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <div class="feature-card d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-center">
                                        <i class="feature-icon text-center flaticon-resume-file ml-3"></i>
                                    </div>
                                    <h3 class="text-center">Schedule Interviews</h3>
                                    <div class="d-flex justify-content-center">
                                        <p>
                                            A single place for all of your company’s interviews. Applicants are
                                            automatically notified of interview changes and cancellations. Share notes
                                            with your team once the interview is complete.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <div class="feature-card d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-center">
                                        <i class="feature-icon flaticon-tools-and-utensils"></i>
                                    </div>
                                    <h3 class="text-center">Notes & To-Dos</h3>
                                    <div class="d-flex justify-content-center">
                                        <p>
                                            Add internal notes and tasks to an applicant. Know what’s been done and
                                            what needs to be done next.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselFeatureIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselFeatureIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="phones">
        <div class="user-profile-phone">
            <div class="left d-flex justify-content-center align-items-center">
                <div class="phone-background-square"></div>
                <img src="{% static 'media/imgs/company-profile-phone.png' %}">
            </div>
            <div class="right">
                <ul class="d-flex align-items-start flex-column">
                    <li>
                        <div class="row mr-0">
                            <div class="col-3 d-flex justify-content-center">
                                <i class="phone-icon flaticon-resume-file"></i>
                            </div>
                            <div class="col-9 mt-3">
                                <h2>Better Than A Resume</h2>
                                <p class="phone-text-lg">
                                    All the information you need and more. See what cocktails a bartender has created or
                                    how connected they are with the industry.
                                </p>
                            </div>
                        </div>
                        <div class="row mr-0 phone-text-sm">
                            <div class="col-12">
                                <p>
                                    All the information you need and more. See what cocktails a bartender has created or
                                    how connected they are with the industry.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-auto">
                        <div class="row mr-0">
                            <div class="col-3 d-flex justify-content-center">
                                <i class="phone-icon flaticon-conversation"></i>
                            </div>
                            <div class="col-9 mt-3">
                                <h2>Streamlined Communication</h2>
                                <p class="phone-text-lg">
                                    Your entire team can communicate directly with applicants through our messaging
                                    system.
                                </p>
                            </div>
                        </div>
                        <div class="row mr-0 phone-text-sm">
                            <div class="col-12">
                                <p>
                                    Your entire team can communicate directly with applicants through our messaging
                                    system.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="company-profile-phone">
            <div class="left">
                <ul class="d-flex align-items-start flex-column">
                    <li class="w-100">
                        <div class="row mr-0">
                            <div class="col-3 d-flex justify-content-center">
                                <i class="phone-icon flaticon-megaphone"></i>
                            </div>
                            <div class="col-9 mt-3">
                                <h2>Build A Following</h2>
                                <p class="phone-text-lg">
                                    Users can follow your company to get notified when you post a new job.
                                </p>
                            </div>
                        </div>
                        <div class="row mr-0 phone-text-sm">
                            <div class="col-12">
                                <p>
                                    Users can follow your company to get notified when you post a new job.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="mt-auto">
                        <div class="row mr-0">
                            <div class="col-3 d-flex justify-content-center">
                                <i class="phone-icon flaticon-painter-palette"></i>
                            </div>
                            <div class="col-9 mt-3">
                                <h2>Represent Your Brand</h2>
                                <p class="phone-text-lg">
                                    Customize your company profile and job pages to give applicants a better
                                    understanding of why they need to apply.
                                </p>
                            </div>
                        </div>
                        <div class="row mr-0 phone-text-sm">
                            <div class="col-12">
                                <p>
                                    Customize your company profile and job pages to give applicants a better
                                    understanding of why they need to apply.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right d-flex justify-content-center align-items-center">
                 <div class="phone-background-square"></div>
                <img src="{% static 'media/imgs/confirmation-screen-phone.png' %}">
            </div>
        </div>
    </div>
    <div class="demo">
        <div class="row ml-0 mr-0 h-100">
            <div class="col-3 photo-one-col">
                <div class="photo-one">
                    <img src="{% static 'media/imgs/logo-page.jpg' %}">
                </div>
            </div>
            <div class="col-3 photo-two-col">
                <div class="photo-two">
                    <img src="{% static 'media/imgs/food-wine.jpg' %}">
                </div>
            </div>
            <div class="col-6 pr-0 demo-form-col">
                <div class="demo-form-container">
                    <h1>Request a Demo</h1>
                    <p>
                        Want to learn more about how NdustryLink works? Someone from our team would be happy to walk you
                        through the website and give you tips on how to improve your hiring process.
                    </p>
                </div>
                <div class="demo-form">
                    <div id="successContainer"></div>
                    <form method="post" action="#" id="requestDemoForm">
                        {% csrf_token %}
                        {{ demo_form|crispy }}
                        <button type="submit" class="btn btn-lg btn-white float-right mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row h-100 mr-0">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <img src="{% static 'media/imgs/form.png' %}" class="brandmark">
            </div>
            <div class="col-10 d-flex align-items-center pr-0">
                <ul class="mb-0">
                    <!-- <li>
                        <a href="#">About</a>
                    </li> -->
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
    $("#requestDemoForm").submit(function( event ) {
        event.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data, textStatus, xhr){
                $('#successContainer').append("<h5>We've received your request. Someone from our team will be in touch with you soon!</h5>");
                form.remove()
           },
           error : function(data, textStatus, xhr) {
                console.log(data['responseJSON']);
                for (var name in data['responseJSON']) {
                    var $input = $("#basicProfileInfoForm #id_" + name);
                    $input.before("<div class='alert alert-block alert-danger'><small>" + data['responseJSON'][name][0] + "</small></div>");
                }
            }
         });
    });
</script>
{% endblock %}